@charset "utf-8";
#skill{}
.skill_inner{
    padding: 1rem;
    /* 16px * 2 = 32px */
    display: flex;
    justify-content: space-between;
}
.skill_title{
    position: sticky;
    top: 70px;
    left: 0;
    width: 48%;
    /* background-color: rgb(242, 190, 190); */
    height: 5vw;
    font-weight: 800;
    line-height: 1.6;
    font-size: 4vw;
    text-transform: uppercase;
    font-family: var(--mainNum-font);
    color: var(--black);
    border-bottom: 0.4vw solid var(--black);
}
.skill_title em{
    font-size: 1.25rem;
    /* 16 * 1.25 = 20px */
    font-weight: 400;
}
.skill_desc{
    width: 50%;
    /* background-color: rgb(121, 121, 224); */
}
.skill_desc span{
    font-size: 5vw;
    font-weight: 800;
    line-height: 2;
    font-family: var(--mainEng-font);
}
.skill_desc h3{
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 1vw;
}
.skill_desc p{
    margin-bottom: 30vh;
    font-size: 1.1rem;
}

@media(max-width:800px){
    .skill_inner{
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .skill_title{
        width:50%;
        top: 70px;
        background-color: var(--mainBg-color);
        height: 10vw;
        line-height: 14vw;
    }
    .skill_desc{width: 100%;}
}